body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Baloo 2", sans-serif;
}
body {
  background-size: 100%;
}
option {
  font-weight: bold;
  font-size: 11pt;
}
option.red {
  background-color: red;
  color: white;
}
option.green {
  background-color: green;
  color: white;
}
footer {
  background-color: rgba(255, 255, 255, 0.375);
  margin: 12px auto;
  text-align: center;
}
